@model Travel_Planner.Models.Vacation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vacation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Long)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Long)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Traveler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Traveler.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
