@model Travel_Planner.Models.Vacation

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Long)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Traveler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.DestinationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.VacationStart.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.VacationEnd.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Long)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Traveler.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
